language: c
sudo: required

branches:
  only: 
    - master

matrix:
  include:
    # gcc-6 C++11/14/1z Debug/Release
    - env: GCC_VERSION=6 BUILD_TYPE=Debug C=GNU99 ASAN=On 
      os: linux
      addons: &gcc6
        apt:
          packages:
            - gcc-6
            - valgrind
            - gcovr
          sources:
            - ubuntu-toolchain-r-test

before_install:
  - ./script/install_criterion.sh

install:
    - make

script:
    - make tests_run

notifications:
email: false
